$colorBase: white;
$bordeBase:white;
$fuenteType:black;
$bodyDesktop1: goldenrod;
$bodyDesktop2: khaki;
$textDesktop1: darkslateblue;
$textDesktop2: rgb(206, 6, 6);
$bodyTablet1: goldenrod;
$bodyTablet2: khaki;
$textTablet1: darkslateblue;
$textTablet2: rgb(206, 6, 6);
$bodyPhone1: mediumpurple;
$bodyPhone2: khaki;
$textPhone1: rgb(206, 6, 6);
$textPhone2: rgb(21, 5, 129);
$gradiente1:darkred;
$gradiente2:red;
$gradiente3:blue;
$gradiente4:darkblue;
$gradiente5:lightskyblue;

